<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ePos</title>
    <script src="jquery-3.1.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
  //  var socket = io("https://epos188.herokuapp.com/");

var socket = io("http://10.0.10.138:3000");
var map;
var mangmarker = [];
var marker1 = {};
var rectangle;
var fourdiem = [];
var string_list_nguoinhan="";
var list_nguoinhan = [];
var list_diem_gui_di = [];
var id_posname=1;
var mang_infowindow = [];
var ten="";
var mang_kq_contact_search = [];
var id_mang_kq_contact_search=0;
var mang_contact_ok = [];
var id_mang_contact_ok=0;
var check_del = true;
// đưa contact vào mảng để tiện sử dụng
if (<%= contact.length %> > 0){
  <%  for (  var i=0; i< contact.length ; i++ )
   {
  %>
     var line = {id: <%= contact[i].id %>, number: '<%= contact[i].number %>', name: '<%= contact[i].name %>'};
     mang_contact_ok.push(line);
    <% }
    %>
 }
socket.on('S_W_kq_check_contact',function(data){
   var number = data.number;
   var user1 = data.user;
   id_mang_kq_contact_search = id_mang_kq_contact_search +1;
   mang_kq_contact_search.push({id:id_mang_kq_contact_search,number:data.number, user:data.user});
   if (ten.length ==94){
     ten="<div><div class='line_contact1_wrap'><a href='#' onclick='them_contact2("+id_mang_kq_contact_search+")' class='line_contact1'>"+data.user+"</a></div>"+
     "<div class='line_contact2_wrap'><a href='#' onclick='add_friend("+id_mang_kq_contact_search+")'> Add friend </a></div></div></br>";
   }
   else {
     ten = ten+ "<div><div class='line_contact1_wrap'><a href='#' onclick='them_contact2("+id_mang_kq_contact_search+")' class='line_contact1'>"+data.user+"</a></div>"+
   "<div class='line_contact2_wrap'><a href='#'> Add friend </a></div></div></br>";
   }
   $("#my_list_contact").html( ten);var dropdowns = document.getElementsByClassName("list_contact_1");
   var dropdowns = document.getElementsByClassName("list_contact_1");
   var k;
   for (k = 0; k < dropdowns.length; k++) {
   var openDropdown = dropdowns[k];
   if (!(openDropdown.classList.contains('show1'))) {
    document.getElementById("my_list_contact").classList.toggle("show1");
   }
   }

 });
function myMap() {
      var mapOptions = {
      center: new google.maps.LatLng(41.5, -0.12),
      zoom: 10,
      // mapTypeId: google.maps.MapTypeId.HYBRID,
      scrollwheel: true,
      navigationControl: true,
      scaleControl: true,
      draggable: true,
      disableDoubleClickZoom: true,
      fullscreenControl: false,
      mapTypeControl:  true,
      rotateControl: true,
      mapTypeControlOptions: {
              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
              position: google.maps.ControlPosition.TOP_LEFT,

          },

        }
      $(document).ready(function(){
          map = new google.maps.Map(document.getElementById("map"), mapOptions);
          map.setTilt(45);
          google.maps.event.addListener(map, "rightclick", function(event) {
            showmarker(event.latLng.lat(),event.latLng.lng());
          });
         });
    }
socket.on('S_pos_online', function(data){
          if (mangmarker.length == 0){
      var  marker2 = new google.maps.Marker({
                  position: { lat: data.lat, lng: data.lon },
                  label: data.name,
                  map: map,
                });
                marker1 = {marker:marker2, name:data.name, number:data.number};
                mangmarker.push(marker1);
              }
        else {
           var test = true;
          mangmarker.forEach(function(mar){
             if (mar.number == data.number){
             //  // nếu đã có điểm rồi thì chỉ cập nhật điểm đó thôi
             var latlng = new google.maps.LatLng(data.lat, data.lon);
               mar.marker.setPosition(latlng);
             //  test= false;
             //  break;
              }
          });

         }
      });
function quay(){
        map.setTilt(45);
}
function show_vitri_thanhvien(number){

    if ( mangmarker.length>0){
    mangmarker.forEach(function(mar){
    if(mar.number == number){
      var lat = mar.marker.getPosition().lat();
      var lng = mar.marker.getPosition().lng();
      // map.panTo(new google.maps.LatLng(lat, lon));
       map.panTo(new google.maps.LatLng(mar.marker.getPosition().lat(), mar.marker.getPosition().lng()));
       map.setZoom(18);
      // break;
    }

  });
  }

  }
socket.on('S_send_room_member', function(data){
          var ten ="";

          data.forEach(function(member){
            ten = ten+ "<a href='#' onclick='show_vitri_thanhvien("+member.number+");'>"+member.name + "</a>";
            });

            $("#myDropdown6").html( ten);
        });
socket.on('S_send_inbox', function(data){
  $("#view").html( "Inbox: "+data.subject + "</br>"+"From:"+data.nguoigui);
  if (data.point.length==1){
                // var thongtin = "vu yeu van";
                // var marker3 = new google.maps.Marker({
                //   position: { lat: data.point[0].lat, lng: data.point[0].lon },
                //   label:{
                //     text:data.point[0].name,
                //     color:'white'
                //   },
                // map: map
                // });
  var string = "<div class='name_pos_123'>"+data.point[0].name+"</div>";
    // data.point[0].name
  var infowindow = new google.maps.InfoWindow({
            content: string,
            position: { lat: data.point[0].lat, lng: data.point[0].lon },
          });
          // marker3.addListener('click', function() {
          //   infowindow.open(map, marker3);
          // });
         infowindow.open(map);
        map.panTo(new google.maps.LatLng(data.point[0].lat, data.point[0].lon));
        map.setZoom(14);
      }
       else {
         var bounds = new google.maps.LatLngBounds();
        data.point.forEach(function(p){
              // var thongtin = ""+p.name;
         // var marker4 = new google.maps.Marker({
         //     position: { lat: p.lat, lng: p.lon },
         //       label:{
         //       text:p.name,
         //       color:'white'
         //     },
         //     map: map
         //   });
           var infowindow = new google.maps.InfoWindow({
             content: p.name,
             position: { lat: p.lat, lng: p.lon },
           });
           infowindow.open(map);
           // marker4.addListener('click', function() {
           //   infowindow.open(map, marker4);
           // });
           bounds.extend(new google.maps.LatLng(p.lat, p.lon));

       });
      // map.panToBounds(bounds);
     map.fitBounds(bounds);
   }

  });
socket.on('S_W_add_friend_ok',function(data){
    var new_contact = "<a href=''>"+data.name+"</a></br>";
   $("#myDropdown_contact").append(new_contact);
   var stt = mang_contact_ok.length;
   mang_contact_ok.push({id:data.id,number:data.number, name:data.name});



});
function add_friend(id1){
  for(var i=0; i<mang_kq_contact_search.length; i++){
    if (mang_kq_contact_search[i].id===id1){
      var data = {number:mang_kq_contact_search[i].number, user: mang_kq_contact_search[i].user, admin:'<%= number %>',admin_name:'<%= name %>' , password:'<%= pass %>'};
      socket.emit('W_add_friend',data);
      return false;
    }
  }
}
function them_contact2(id){
  for(var i=0; i<mang_kq_contact_search.length; i++){
    if (mang_kq_contact_search[i].id===id){
      string_list_nguoinhan = string_list_nguoinhan + "<div class='wrap_line_nguoinhan'>  <a href='#' class='class_list_nguoinhan1'>Del  </a>&nbsp; "+mang_kq_contact_search[i].user + "</div>";
       $("#my_list_nguoinhan").html( string_list_nguoinhan);
       var nguoinhan = {name: mang_kq_contact_search[i].user , number:mang_kq_contact_search[i].number};
       list_nguoinhan.push(nguoinhan);
      return false;
    }
  }

}
function myFunction5() {
  document.getElementById("myDropdown5").classList.toggle("show1");

}
function myFunction6(subject) {
  document.getElementById("id_dropdown6").style.display = "block";
  $("#view").html( "Online: "+subject);

}
function searchContacts(){
  ten="";
  var chuoi = document.getElementById("login_number_2").value;
  var div_show_contact = document.getElementById("my_list_contact");
  chuoi = chuoi.trim();
  if (chuoi.charAt(0)=='0'){
    chuoi = chuoi.substr(1);
  }
  if (chuoi.length>0){
    var kiemtra = false;
   for (var i=0; i<mang_contact_ok.length; i++){
    if  ( mang_contact_ok[i].name.toLowerCase().indexOf(chuoi.toLowerCase()) !== -1 || mang_contact_ok[i].number.toLowerCase().indexOf(chuoi.toLowerCase()) !== -1){
          ten = ten+ "<div><div class='line_contact1_wrap'><a href='#' onclick='them_contact("+mang_contact_ok[i].id+")' class='line_contact1'>"+mang_contact_ok[i].name+"</a></div>"+
          "<div class='line_contact2_wrap'></div></div></br>";
          kiemtra = true;
        }

    }
    var dropdowns = document.getElementsByClassName("list_contact_1");
    var k;
    for (k = 0; k < dropdowns.length; k++) {
    var openDropdown = dropdowns[k];
    if (!(openDropdown.classList.contains('show1'))) {
     document.getElementById("my_list_contact").classList.toggle("show1");
    }
    }
      if (kiemtra){
        $("#my_list_contact").html( ten);

      }
      else {
        // nếu khôn$("#my_list_contact").html( ten);g tìm thấy trong list contact hiện hữu thì sẽ tìm trên server
        ten = "There is no item found in your listcontact. </br>Please input more letter to search in Global.";
        $("#my_list_contact").html( ten);
        var abc = ""+ten.length;
        if (chuoi.trim().length >5){
        socket.emit('W_check_contact',chuoi);
        }
      }

  }
  else {
      var dropdowns = document.getElementsByClassName("list_contact_1");
    var k;
    for (k = 0; k < dropdowns.length; k++) {
    var openDropdown = dropdowns[k];
       openDropdown.classList.remove('show1');

    }

  }

}
function them_contact(id1){
  var chk= true;
  if(list_nguoinhan.length > 0){
    for(var k=0; k<list_nguoinhan.length; k++){
      if (id1===list_nguoinhan[k].id){
        chk = false;

      }

    }
  if(chk){
      for (var i=0; i<mang_contact_ok.length; i++){
          var id2 = mang_contact_ok[i].id;
          if (id2===id1) {
            var string = "<div class='wrap_line_nguoinhan' id='"+id2+"'>  <a href='#' onclick='xoa_contact("+id2+")' class='class_list_nguoinhan1'>Del  </a>&nbsp; "+mang_contact_ok[i].name + "</div>";
            $("#my_list_nguoinhan").append( string);
            var nguoinhan = {id:id2, name: mang_contact_ok[i].name , number:mang_contact_ok[i].number};
            list_nguoinhan.push(nguoinhan);
            return false;
          }
        }
      }
      else {alert('This contact has been added.');}
  }
  else{
    for (var i=0; i<mang_contact_ok.length; i++){
        var id2 = mang_contact_ok[i].id;
        if (id2===id1) {
          var string = "<div class='wrap_line_nguoinhan' id='"+id2+"'>  <a href='#' onclick='xoa_contact("+id2+")' class='class_list_nguoinhan1'>Del  </a>&nbsp; "+mang_contact_ok[i].name + "</div>";
          $("#my_list_nguoinhan").append( string);
          var nguoinhan = {id:id2, name: mang_contact_ok[i].name , number:mang_contact_ok[i].number};
          list_nguoinhan.push(nguoinhan);
          return false;
        }
      }
  }



  }
function xoa_contact(id1){
  if(check_del){
    document.getElementById(id1).remove();
    document.getElementById(id1).remove();
    check_del = false;
  }
  document.getElementById(id1).remove();
  for(var i=list_nguoinhan.length-1; i >=0 ; i--){
    if(list_nguoinhan[i].id === id1){
      list_nguoinhan.splice(i, 1);
      return false;
    }
  }
}
function showmarker( lat1, lon1){
  var name = document.getElementById("login_number_2").value;
  id_posname= id_posname+1;

  var infowindow = new google.maps.InfoWindow({
      position:{ lat:lat1, lng: lon1}
    });

    var noidung = "<div class='wrap_posname'><div>Input name of this place </br> <input type='text' id='"+id_posname+"' class='info_pos_name'></input><div></br>"+
    "<div><div class='posname_2'><button onclick='cancle_luudiem("+id_posname+")'>CANCLE</button></div><div>"+
    " <button onclick='luudiem("+lat1+","+lon1+","+id_posname+")' class='posname_2'>OK</button> </div>  </div></div>";

    infowindow. setContent(noidung);
    infowindow.open(map);
    var win = {id:id_posname, wind: infowindow};
    mang_infowindow.push(win);


  }
function luudiem(lat1, lon1, id1){
  var name1 = document.getElementById(id1).value;
  for (var i=0; i<mang_infowindow.length; i++){
    if(mang_infowindow[i].id ==id1){
      mang_infowindow[i].wind.setContent(name1);
      var id2 = Math.floor(Math.random()*(90000)+10000);
      var diem = {name:name1, lat:lat1, lon:lon1, id:id2}
      list_diem_gui_di.push(diem);

      // diem.put("lat", listpoint.get(i).lat);
      //          diem.put("lon", listpoint.get(i).lon);
      //          diem.put("name", listpoint.get(i).name);
      //          idpos = "" + new Date().getTime();
        //          diem.put("id", idpos);
        return false;
      }
    }
  }
function cancle_luudiem(id) {
  for (var i=0; i<mang_infowindow.length; i++){
    if(mang_infowindow[i].id ==id){
    mang_infowindow[i].wind.close();
      mang_infowindow.splice(i, 1);
    return false;
      }
    }

  }
function guitinnhan(){
  var sub = document.getElementById("login_subject_2").value.trim();
  if ( sub === ""){
    alert('There is no subjet.');
  }
  else {
    if (list_nguoinhan.length ==0){
      alert('There is no receiver.');
    }
    else {
      if (list_diem_gui_di.length == 0){
        alert('There is no position in map to send.');
      }
      else {
        var ma1 = Math.floor(Math.random()*(9000)+1000);
        var ma2 =Math.floor(Math.random()*(9000)+1000);
        var mafull = ""+ma1+ma2;
        var ten = "<%= name %>";
        var sodienthoai = "<%= number %>";
        var tinnhanfull = {nguoigui_name: ten, nguoigui_number:sodienthoai ,subject: sub  ,nguoinhan:list_nguoinhan, pos:list_diem_gui_di, id:mafull};
        socket.emit('C_gui_tinnhan',tinnhanfull);
      }
    }

  }


  }
</script>

<style>
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.class_map{
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0px;
  white-space: nowrap;
  overflow-x: auto;

  }
.name_pos_123{
  color: red;
  }
.posname_2{
  position: relative;
  float: right;
  margin-left: 5px;
  }
.dropbtn, .dropbtn2, .dropbtn3, .dropbtn4, .dropbtn5, .dropbtn_contact {
   background-color: #4CAF50;
   color: white;
   padding: 10px;
   font-size: 13px;
    border: none;
   cursor: pointer;
 }
.dropbtn6 {
   background-color: #4CAF50;
   color: white;
   padding: 10px;
   font-size: 13px;
   border: none;
   cursor: pointer;
 }
.txt {
  background-color: white;
  padding: 5px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  }
.dropbtn:hover, .dropbtn:focus,.dropbtn_contact:hover, .dropbtn_contact:focus,.dropbtn2:hover, .dropbtn2:focus,.dropbtn3:hover, .dropbtn3:focus,.dropbtn4:hover, .dropbtn4:focus,.dropbtn5:hover, .dropbtn5:focus,  {
   background-color: #4CAF50;
 }
.dropdown1, .dropdown2,.dropdown_contact, .dropdown3, .dropdown4, .dropdown5,.txt, .my_login_number, .my_submit, .my_edit_pos{
   position: relative;
   display: inline-block;
   float:right;
   margin-right:10px;
 }
.my_login_number{
  background-color: #4CAF50;
  }
.dropdown6{
   position: absolute;
   display: none;
   top: 60px;
   right: 10px;
   z-index: 1;

 }
.dropdown-content,.dropdown-content_contact, .dropdown-content2,.dropdown-content3,.dropdown-content4,.dropdown-content5{
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   max-height: 500px;
   min-height: 100px;
   overflow: auto;
   right: 0px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
.dropdown-content6  {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   height: 200px;
   max-height: 500px;
   overflow: auto;
   right: 0px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
.list_contact_1  {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   width:300px;
   height: 200px;
   max-height: 500px;
   overflow-x:hidden;
   overflow-y: auto;
   left: 0px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
.dropdown-content_contact a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
.dropdown-content2 a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
.dropdown-content3 a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
.dropdown-content4 a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
.dropdown-content5 a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
.dropdown-content6 a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
.banner {
  z-index: 3;
  position: absolute;
  top: 5px;
  left: 5px;
  height: auto;
  width: 100%;
  /* background:  #f1f1f1; */
  }
.wrapper {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow: auto;

  /* background:  #f1f1f1; */
  }
.wrap2{
  z-index: 3;
  position: absolute;
  display: inline-block;
  top:5px;
  left: 60%;
  height:50px;
  width: 450px;
  /* background:  #96B76A; */

  }
.wrap2_1{
  width: 100%;
  position: absolute;
  bottom: 0px;
  /* background: #4CAF50 */
  }
.wrap3_main{
  z-index: 3;
  position: absolute;
  top: 5px;
  left:110px;
  display: inline-block;

  }
.wrap3{
  z-index: 3;
  width: 450px;
  height: 50px;
  background: #4CAD50

  }
.class_list_nguoinhan, .class_list_nguoinhan1 {
  position: relative;
  float: left;
}
.wrap_line_nguoinhan{
  width: 100%;
  /* background: #4CAD50; */
}
.list_nguoinhan{
  position: absolute;
  top: 60px;
  left: 5px;
  z-index: 3;
  width:200px;
  overflow-x: hidden;
  max-height: 300px;
  background: #96B76A;
  white-space: nowrap;
  overflow-y: auto;

}
.my_edit_pos{
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 10px

}
.my_login_subject{
  position: relative;
  display: inline-block;
  float: left;


}

.my_btn_send_tinnhan{
  position: relative;
  display: inline-block;
  float: right;
  height: 60%;
  margin-top: 3%;
  margin-right: 3%;

}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown-content2 a:hover {background-color: #f1f1f1}
.dropdown-content3 a:hover {background-color: #f1f1f1}
.dropdown-content4 a:hover {background-color: #f1f1f1}
.dropdown-content5 a:hover {background-color: #f1f1f1}
.dropdown-content6 a:hover {background-color: #f1f1f1}
.wrap_line_nguoinhan a:hover {background-color: #f1f1f1}
.list_contact_1 a:hover {background-color: #96B76A}
.line_contact1_wrap{
  position: absolute;
  left:0px;
  overflow-x: hidden;
  width: 200px
}
.line_contact2_wrap{
  position: absolute;
  right:0px;
  width: 70px
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show1 {display:block;}
</style>
<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show1");
  }
function myFunction2() {
  document.getElementById("myDropdown2").classList.toggle("show1");
  }
function myFunction3() {
  document.getElementById("myDropdown3").classList.toggle("show1");
  }
function myFunction4() {
  document.getElementById("myDropdown4").classList.toggle("show1");
  }
function myFunction_contact() {
  document.getElementById("myDropdown_contact").classList.toggle("show1");
  }
function myFunction8() {
  document.getElementById("id_dropdown6").style.display = "none";
  }
function myFunction9() {
  document.getElementById("myDropdown6").classList.toggle("show1");
  }
function myFunction7() {
  var dropdowns = document.getElementsByClassName("my_btn_member");
  var i;
  for (i = 0; i < dropdowns.length; i++) {
  var openDropdown = dropdowns[i];
  if (openDropdown.classList.contains('show1')) {
   openDropdown.classList.remove('show1');
  }
  }
}
// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!(event.target.matches('.line_contact1') || event.target.matches('.my_login_number_2'))) {
      var dropdowns = document.getElementsByClassName("list_contact_1");
      ten ="";
      var i;

      for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show1')) {
       openDropdown.classList.remove('show1');
       document.getElementById("login_number_2").value = "";

      }
      }
      }
  if (!event.target.matches('.dropbtn_contact')) {
    var dropdowns = document.getElementsByClassName("dropdown-content_contact");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show1')) {
     openDropdown.classList.remove('show1');
    }
    }
    }
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show1')) {
     openDropdown.classList.remove('show1');
    }
    }
    }
  if (!event.target.matches('.my_login_number_2')) {
    var dropdowns = document.getElementsByClassName("list_contact");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show1')) {
     openDropdown.classList.remove('show1');
    }
    }
    }
  if (!event.target.matches('.dropbtn2')) {
    var dropdowns = document.getElementsByClassName("dropdown-content2");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show1')) {
     openDropdown.classList.remove('show1');
    }
    }
    }
  if (!event.target.matches('.dropbtn3')) {
    var dropdowns = document.getElementsByClassName("dropdown-content3");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show1')) {
     openDropdown.classList.remove('show1');
    }
    }
    }
  if (!event.target.matches('.dropbtn4')) {
    var dropdowns = document.getElementsByClassName("dropdown-content4");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show1')) {
     openDropdown.classList.remove('show1');
    }
    }
    }
  if (!event.target.matches('.dropbtn5')) {
    var dropdowns = document.getElementsByClassName("dropdown-content5");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
    var openDropdown = dropdowns[i];
    if (openDropdown.classList.contains('show1')) {
     openDropdown.classList.remove('show1');
    }
    }
    }
  }
</script>
</head>
<body>
    <div class="wrapper">
        <div class="banner">
          <div class="wrap2">
            <div class="wrap2_1">
              <div class="dropdown5">
                <button onclick="myFunction5(); myFunction7;" class="dropbtn5"><%= name %></button>
                <div id="myDropdown5" class="dropdown-content5">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
              <div class="dropdown_contact">
                <button onclick="myFunction_contact()" class="dropbtn_contact">FRIEND</button>
                <div id="myDropdown_contact" class="dropdown-content_contact">
                   <%
                   if (contact.length>0){
                    for ( var i=0; i<contact.length; i++)
                      {
                        var abc3=''+contact[i].id;
                      %>
                        <a href="#" id="<%= abc3 %>" onclick=""> <%= contact[i].name %></a>
                        <%
                      }
                    }
                    else{
                      %>
                    There is no friend in your list.
                    <%
                    }
                    %>
                </div>
              </div>
              <div class="dropdown4">
                <button onclick="myFunction4()" class="dropbtn4">ONLINE</button>
                <div id="myDropdown4" class="dropdown-content4">
                       <%
                       if (online.length > 0){
                        for ( var i=0; i<online.length; i++)
                     {
                       var abc3=''+online[i].id;
                        %>
                        <a href="#" id="<%= abc3 %>" onclick=" myFunction6('<%= online[i].subject %>'); myFunction5(); socket.emit('W_join_room','<%= online[i].idc %>','<%= number %>' );"> <%= online[i].subject %></a>
                        <%
                      }
                    }
                    else{
                      %>
                        There is no item.
                      <%
                    }
                    %>
                </div>
              </div>
              <div class="dropdown3">
                <button onclick="myFunction3(); " class="dropbtn3">SAVE</button>
                <div id="myDropdown3" class="dropdown-content3">
         	        <a href="#" onclick=" myFunction8()">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
              <div class="dropdown2">
                <button onclick="myFunction2()" class="dropbtn2">SEND</button>
                <div id="myDropdown2" class="dropdown-content2">
                      <%
                      if (send.length > 0){
                       for ( var i=0; i<send.length; i++)
                    {
                       %>
                       <a href="#" onclick=" myFunction8()"> <%= send[i].subject %></a>
                       <%
                     }
                   }
                   else{
                     %>
                       There is no item.
                     <%
                   }
                   %>

                 </div>
               </div>
               <div class="dropdown1">
                 <button onclick="myFunction()" id="btn_inbox" class="dropbtn">INBOX</button>
                 <div id="myDropdown" class="dropdown-content" >
                     <%
                     if ( inbox.length > 0){
                      for ( var i=0; i<inbox.length; i++)
                   {
                     var abc=''+inbox[i].id;
              				%>
              				<a href="#" id="<%= abc %>" onclick=" myFunction8();socket.emit('w_get_inbox','<%= inbox[i].idc %>','<%= number %>' );"> <%= inbox[i].subject %></a>
              				<%
              			}
                  }
                  else{
                    %>
                      There is no item.
                    <%
                  }
              		%>
                </div>
              </div>
            </div>
          </div>

          <div class="wrap3_main">
            <div class="wrap3">
              <button id="btn_send_tinnhan" class="my_btn_send_tinnhan" onclick="guitinnhan()">GỬI TIN NHẮN</button>
                <div id="login_subject" class="my_login_subject">
                  <div id="login_number_1">Nhập subejct</div>
                  <input type="text" class="my_login_subject" value="" id="login_subject_2" autocomplete="off"></input>
                </div>
              <div id="login_number" class="my_edit_pos">
                <div id="login_number_1">Nhập số điện thoại</div>
                <input type="text" oninput="searchContacts()" name="number" class="my_login_number_2" value="" id="login_number_2" autocomplete="off"></input>
                <div id="my_list_contact" class="list_contact_1">
                </div>
              </div>
            </div>

          </div>
          <div id="my_list_nguoinhan" class="list_nguoinhan">Receiver</div>
          <div class="txt" id="view"> </div>

        </div>
        <div id="map" class="class_map">
        </div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTmmp8QAjy0E7SWlcrAFjRRTzGefS4lH0&callback=myMap" type="text/javascript">
      </script>
      <div class="dropdown6" id="id_dropdown6">
       <button onclick="myFunction9()" id="btn_inbox6" class="dropbtn6">MEMBER</button>
       <div id="myDropdown6" class="dropdown-content6" >
       </div>
     </div>
   </div>


  </body>
</html>
